{% extends 'base.html.twig' %}

{% block title %}Search
{% endblock %}

{% block body %}
	<style>
		.wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.wrapper div {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="wrapper">
		<div class="search_form">
			<input type="search" name="input" id="search_value" placeholder="Search">
			<input type="submit" id="search_btn" value="Search">
		</div>
        <div class="search_result" id='search_result'>
        
        </div>
	</div>
{% endblock %}

{% block script %}
    <script>
        function search() {
            let url = 'http://localhost:8000/job/search/{search_value}';
            let search_value = document.getElementById('search_value').value;
            console.log(search_value.length);
            if(search_value.length != 0){
                url = url.replace('{search_value}', search_value);
            }

            let res = '';
            fetch(url)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {

                    document.getElementById('search_result').innerHTML = '';
                    data.search_result.map(element => {
                        let job_div = document.createElement('div');
                        job_div.className = "job";
                        job_div.innerText = "Company: " + element.company + " Title: " + element.title + " Location: " + element.location;
                        document.getElementById('search_result').appendChild(job_div);

                    });
                    
                });

        }


        document.getElementById('search_btn').addEventListener('click', () => {
            search();
        });
    </script>
{% endblock %}
